body{
    font-family: Helvetica;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#text:hover{
     color: gray;
     opacity:0.5; 
 }
#text2:hover{
     color: gray;
     opacity:0.5; 
 }
#text3:hover{
     color: gray;
     opacity:0.5; 
 }
#text4:hover{
     color: gray;
     opacity:0.5; 
 }
#art:hover{
     color: gray;
     opacity:0.5; 
 }
a{
     width:20%;
     text-align: center;
     text-decoration: none;
 }
.toolbar{
    background-color: rgb(54, 50, 50);
    display:flex;
    align-content: center;
    justify-content:space-around;
 }
#text{
    color:white;
    font-size: 20px;
}
#text2{
    color:white;
    font-size: 20px;
}
#text3{
    color:white;
    font-size: 20px;
}
#text4{
    color:white;
    font-size: 20px;
}
.headers{
    display:flex;
    line-height: 150px;
    font-size: 15px;
    justify-content:space-around;
}
#interest{
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    color:black;
    width:345px;
    transform: translateX(80px);
}
#art{
    border: 5px solid white;
    display: flex;
    flex-wrap: wrap;
    transform: translateX(280px);
    color:rgb(255,255,255);
}
#future{
    border: 5px solid rgb(152, 194, 228);
    display: flex;
    flex-wrap: wrap;
    width:345px;
    transform: translateX(180px);
    color:rgb(152, 194, 228);
}
.mainText{
    display:flex;
    align-items: center;
    font-size: 20px;
}
#newIMG{
    background-color: rgb(17, 216, 216);
    padding:20px;
    transition: all .2s ease-in-out; 
    font-size: 10px;
}
#newIMG:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 5px black;  
}
#Color{
    background-color: rgb(17, 216, 216);
    padding:20px;
    transition: all .2s ease-in-out; 
    font-size: 10px;
}
#Color:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 5px black;  
}